# creates 1 control-plane + 2 workers, maps host 80/443 into control-plane for Ingress
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: codecollab-local-cluster
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
      - containerPort: 443
        hostPort: 443
  - role: worker
  - role: worker
  - role: worker
  - role: worker
networking:
  disableDefaultCNI: false


# kind create cluster --config kind-cluster.yaml --name codecollab-local-cluster

# kubectl config current-context 

# kubectl config use-context <context-name> = context-name means the cluster name


